.keypad {
  background-color: rgb(245, 245, 245);
  width: 56vw;
  height: 18vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
}

.calc_button {
  width: 7vw;
  height: 3vw;
  margin: 2px;
}