.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 60vw;
  height: 25vw;
  background-color: rgb(203, 203, 203);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}